<%- include('layouts/header.ejs')%>

      <h1> Institutions I have attended: </h1>
      <div class="container">
        <div class="row row-cols-3"> <!--Works by only going row-column-x -->
        <div class="col">School:</div>
        <br>
        <div class="col">Groups:</div>
         <br>
         <div class="col">School Logo</div>
        <div class="col">
          <a class="school" href="https://www.tamusa.edu/"> Texas A&M- San Antonio </a> 
        </div>
        <br>
        <br>
        <div class="col">President's Leadership Class</div>
        <br>
        <div class="col">
          <img src="../Extras/Tamusa_logo.JPG" class="img-thumbnail">
        </div>
        <div class="col">
          <a class="school" href="https://www.nisd.net/sciaca">John Jay Science and Engineering Academy</a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="col">National Honor Society<br>STEM Fest<br>Mighty Mustang Band<br></div>
        <div class="col">
          <img src="../Extras/SEA_logo.JPG" class="img-thumbnail">
        </div>
        <div class="col">
          <a class="school"href="https://future.utsa.edu/pre/prep/">PREP</a>
          </div>
        <br>
        <div class="col"> Palo Alto <br> St.Phillips Southwest Campus <br>
        St. Mary's University <br> UTSA
        </div>
        <div class="col">
          <img src="../Extras/PREP_logo.JPG" class="img-thumbnail">
        </div>
        <br>
       </div>
      </div>
    <br>
    <br>
    <br>
</body>
</html>