<%- include('layouts/header.ejs')%>

      <h1> My job experience: </h1>
      <div class="grid" style="--bs-columns: 3;">
        <div>
          <h3>Crossroads Community Church</h3>
          <div class="grid" style="--bs-columns: 12;">
            <div class="g-col-4"> <h5>Title: Assistant to the Children's Pastor </h5> </div>
            <div class="g-col-4"> <h5>Time period: Sept 2019-Present </h5> </div>
            <div class="g-col-4"> <h5>What I do: <h5> 
              <p><h5>
                I setup and teardown chairs for Children's Church. 
                I make sure that everything we need is retrieved before and between services.
                I also help whoever is teaching that day. Another part of my job is get the parents 
                if a child is misbehaving or needs something from them. 
              </h5></p>
            </div>
          </div>
        </div>
        <div>
          <br>
          <h3> Texas A&M - San Antonio  </h3>
          <div class="grid" style="--bs-columns: 12;">
            <div class="g-col-4"> <h5> Title: Supplemental Instructor for Biology 1 </h5></div>
            <div class="g-col-4"> <h5> Time period: Aug 2021-Present </h5> </div>
            <div class="g-col-4"> <h5> What I do:  </h5>
              <p><h5>I sit in one or more Biology 1 classes during the full semester. 
                I then schedule time to run sessions for students to come, and ask questions on the topics covered in class.   
                The schedule is made based off the students time that work for a majority of the students rather than a few.
                For those that do not have the time, have the ability to come to office hours when they are scheduled. 
                SI is a program based on multiple students coming to the session rather than 1-on-1's, like tutoring. </h5></p> 
            </div>
          </div>
        </div>
      </div>
    <br>
    <br>
    <br>
</body>
</html>

<!--Navigation with at least five menus with one drop-down sub-menus (contact page with contact forms and a map): each page should have appropriate contents 
Three different layouts
Tree different headings
Paragraphs
One carousel
Images with your picture and one video
A list-->