<%- include('layouts/header.ejs')%>
    <h1> Welcome, my name is Ryan </h1>
      <br>
      <br>
      <!--Carousel Start-->
      <div class="container" id="carousel" >
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <!--Pictures go here-->
            <img src="../Extras/20210611_090412_edit2.jpg" class="img-fluid w-100" alt="Tarantula Hawk Wasp ">
          </div>
          <div class="carousel-item"> 
            <img src="../Extras/20190928_162747_HDR_edit.jpg" class="img-fluid w-100" alt="Meeting Henry G. Cisneros">
          </div>
          <div class="carousel-item">
            <img src="../Extras/20190613_123745_edit.jpg" class="img-fluid w-100" alt="Graduation Picture">
          </div>
        </div>
        <!--End of Pictures-->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
      <!--Carousel End-->
      <br> 
    <hr>
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <video controls> <source src="../Extras/WIN_20220720_10_08_54_Pro.mp4" type="video/mp4"></video> 
        </div>
      </div> 
    </div>
    
</body>
</html>