body{
    background-color: aquamarine;
}
#carousel{
    height:650px;
    width: 700px;
    overflow: hidden;
   }
hr{
    background-color: black;
    height: 10px;

}
video{
    height: 600px;
    width: 700px;
}
.tabs{
 display: inline-block;
  tab-size: 2 ;
}
   /*
    #carousel{
    height:100vh;
    overflow: hidden;
   }
   */