body{
    background-color: aquamarine;
}
#carousel{
    height:700px;
    overflow: hidden;
   }
hr{
    background-color: black;
    height: 10px;
}
video{
    height: 600px;
    width: 700px;
}
   /*
    #carousel{
    height:100vh;
    overflow: hidden;
   }
   */