<%- include('layouts/header.ejs')%>
      <h1> Programming Languages I have interacted with: </h1>
      <ul class="list-group">
        <li class="list-group-item">
          <h3>Java</h3>
        </li>
        <li class="list-group-item">
         <h4>Python</h4>
        </li>
        <li class="list-group-item"> 
          <h5> C </h5>
        </li>
        <li class="list-group-item">
          <h5> GoLang </h5>
        </li>

        <li class="list-group-item">
          <h4>HTML, CSS, Javascript</h4>
        </li>
        <li class="list-group-item">
          <h5>Linux</h5> 
        </li>

      </ul>
    <br>
    <br>
    <br>
</body>
</html>